/delivery-system
/delivery_system
__pycache__/
*.py[cod]
db.sqlite3
manage.py
docker-compose.yml
staticfiles/
media/
.coverage
htmlcov/
*.cover
*.log
__pycache__/
*.py[cod]
*.sqlite3
.venv
.env
*/migrations/
