<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center text-black">
            <h1 class="mb-4">Você saiu da sua conta</h1>
            <p class="lead mb-4">Voce deslogou sua Conta de Lojista. Esperamos vê-lo novamente em breve!</p>
            <a href="{% url 'login_lojista:login' %}" class="btn btn-primary btn-lg">Fazer login novamente</a>
        </div>
    </div>
</body>
