{% extends "registration/password_reset_confirm.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="min-height: 70vh;">
        <div class="text-center p-4 border rounded bg-light" style="max-width: 500px;">
            <h2 class="mb-3">{% translate "Password Reset Request" %}</h2>
            <p class="mb-4">{% translate "An email has been sent with instructions to reset your password. Please check your inbox." %}</p>
            <a href="{% url 'login_lojista:login' %}" class="btn btn-primary">{% translate "Back to Login" %}</a>
        </div>
    </div>
{% endblock %}
